
/*The body is everything displayed in the main text delivery area*/
body {
	background: #833322;
}


/* This class is specific to the text in the passages*/
.bountyboard {
    border: 10px solid #948a76;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.text1 {
    color: black;
}

a.link-internal {
	color: white
}


/* This id is specific to the sidebar*/
#ui-bar {
	background-color: #ce2741;
}



